canvas {
    display: block;
    margin: auto;
    background:white;
}

#playbutton {
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}